body {
  background-image: url(/background\ image\ netflix.jpg);
  height: 40rem;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  font-family: "Anton", sans-serif;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/background image netflix.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Aplica el efecto de desenfoque al fondo */
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.searcher {
  position: relative;
  z-index: 2; /* Asegura que Outlet esté por encima de HomeUp */
  padding-top: 30px;
}

.search {
  height: 3rem;
  width: 21rem;
  border: 2px red double;
}

.star {
  text-align: center;
}
.starComponent {
  margin-top: 6rem;
}

.imageOfMovieComponent {
  border-radius: 8%;
}

.increasedImage {
  transition: transform 0.4s ease-in-out;
}

.increasedImage:hover {
  transform: scale(1.1);
}

.aloha {
  z-index: 3;
}

.text {
  background-color: rgba(0, 0, 0, 0); /* Fondo negro con transparencia */
}

.textColor {
  color: rgba(250, 248, 248, 0.665);
}

.starText {
  color: rgb(210, 208, 193);
}

/* .navbar {
  background-color: rgb(242, 228, 228);
} */

.inactiveNavbarButton {
  color: rgb(177, 34, 34);
}
.hover :hover {
  text-decoration: underline;
  color: rgb(177, 34, 34) !important;
  transform: scale(1.02);
}

/* //=============== presentation sentence ========================// */

.presentationSentence {
  font-weight: 400;
  color: #b12222;
  font-stretch: expanded;
  filter: drop-shadow(0px 0px 23px rgb(231, 227, 227));
  position: relative;
  animation: moveAndGlow 3s infinite alternate;
}

@keyframes moveAndGlow {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5), 0 0 20px rgba(255, 0, 0, 0.4),
      0 0 30px rgba(255, 0, 0, 0.3);
  }
  50% {
    transform: translateY(-10px);
    text-shadow: 0 0 20px rgba(255, 100, 100, 0.6),
      0 0 30px rgba(255, 100, 100, 0.5), 0 0 40px rgba(255, 100, 100, 0.4);
  }
  100% {
    transform: translateY(0);
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5), 0 0 20px rgba(160, 112, 112, 0.4),
      0 0 30px rgba(255, 0, 0, 0.3);
  }
}

/* //===============================================================// */

/* .pepe2 {
  color: rgb(181, 184, 26);
} */
/* .presentation {
  margin-top: 33rem;
} */

.presentation {
  margin-bottom: 17rem;
}

/*  ========================== About component  ================== */

.About-AvatarSubDiv {
  position: relative;
  display: inline-block;
}
.manAvatar {
  height: fit-content;
  filter: drop-shadow(-30px 0 75px rgb(163, 92, 92)) /*  new  */;
  max-width: 100%;
  height: auto;
}

.AboutSubDiv1 {
  color: rgba(250, 248, 248, 0.665);
}
.AboutSubDiv2 {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.homeButton {
  width: 20%;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 5px rgba(250, 248, 248, 0.665);
  border: 2px rgb(34, 18, 18) solid;
  background: linear-gradient(rgb(107, 11, 11), rgb(34, 18, 18)) padding-box,
    linear-gradient(rgb(177, 34, 34), rgb(34, 18, 18)) border-box;
  color: rgba(250, 248, 248, 0.665);
}

@media (width>=500px) {
  .manAvatar img {
    width: fit-content;
  }
}
@media (width<500px) {
  .manAvatar img {
    width: 90%;
  }
}

/*  ========================== SingleMovieView component  ================== */

.SingleMovieImage {
  max-height: 22rem;
  max-width: 90%;
  border-radius: 6%;
  border: 1.4px solid #413939;
}

.movieTitle {
  margin-bottom: 2rem;
  color: rgba(250, 248, 248, 0.665);
  text-shadow: 2px 1px #5b2323;
  letter-spacing: 0.5rem;
}

.flexcontainerDescriptionAndImage {
  display: flex;
  flex-direction: row;
}

.uno {
  padding-left: 38px;
  color: rgba(250, 248, 248, 0.665);
  max-width: 60%;
}

.dos {
  min-width: 40%;
}
@media (width<=560px) {
  .flexcontainerDescriptionAndImage {
    flex-direction: column;
    align-items: center;
  }

  .uno {
    padding-left: 0;
    text-wrap: pretty;
    text-align: center;
  }
}
/* ================  error ================= */

.error{
  text-align: center;
  margin-top: 10rem;
  color: white;
  font-size:xx-large;
  font-weight: 500;
}