body {
  /* background-image: url(/background\ image\ netflix.jpg); */
  background-image: url("/background image netflix.jpg");
  height: 40rem;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  font-family: "Anton", sans-serif;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/background image netflix.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Aplica el efecto de desenfoque al fondo */
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
}

/* ==========================      font family from google font      =============================  */
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ===========================        searcher          ===============================  */

.searcher {
  position: relative;
  z-index: 2; /* Asegura que Outlet esté por encima de HomeUp */
  padding-top: 30px;
}

.search {
  height: 3rem;
  width: 21rem;
  border: 2px red double;
}

/* ===========================        star         ===============================  */

.star {
  text-align: center;
}
.starComponent {
  margin-top: 6rem;
}

/* ===========================       movie component         ===============================  */

.imageOfMovieComponent {
  border-radius: 8%;
}

.imageOfMovieComponent:hover {
  border: #f7d9d9 2px solid;
}

.increasedImage {
  transition: transform 0.4s ease-in-out;
}

.increasedImage:hover {
  transform: scale(1.1);
}

.aloha {
  z-index: 3;
}

.text {
  background-color: rgba(0, 0, 0, 0); /* Fondo negro con transparencia */
}

.textColor {
  color: rgba(250, 248, 248, 0.665);
}

.starText {
  color: rgb(210, 208, 193);
}

/* //====================        Navbar         ========================// */

.inactiveNavbarButton {
  color: rgb(177, 34, 34);
}
.hover :hover {
  text-decoration: underline;
  color: rgb(241, 236, 236) !important;
  transform: scale(1.02);
}

/* //===============                presentation sentence                 ========================// */

.presentationSentence {
  font-weight: 400;
  color: #f1ecec;
  font-stretch: expanded;
  filter: drop-shadow(0px 0px 23px rgb(194, 39, 39));
  position: relative;
  animation: moveAndGlow 3s infinite alternate;
}

@keyframes moveAndGlow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* //=========================               Presentation             ======================================// */

.presentation {
  margin-bottom: 17rem;
}

.bordered-text {
  font-weight: bold;
  text-shadow: -1px -1px 0 #0e0c0c, 1px -1px 0 #332c2c, -1px 1px 0 #080404,
    1px 1px 0 #110808;
}

/*  ==========================             About component                              ================== */

.paragraphAbout {
  line-height: 2.1;
}

.bold-text {
  font-weight: bold;
  padding: 4px;
  letter-spacing: 1.8px;
  color: #f0e5e5;
}

.About-AvatarSubDiv {
  position: relative;
  display: inline-block;
}
.manAvatar {
  height: fit-content;
  filter: drop-shadow(-30px 0 75px rgb(163, 150, 150)) /*  new  */;
  max-width: 100%;
  height: auto;
}

.AboutSubDiv1 {
  color: rgba(250, 248, 248, 0.665);
}
.AboutSubDiv2 {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.homeButton {
  width: 3rem;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 9%;

  border-radius: 5px rgba(250, 248, 248, 0.665);
  border: 2px rgb(34, 18, 18) solid;
  background: linear-gradient(rgb(95, 30, 30), rgb(34, 18, 18)) padding-box,
    linear-gradient(rgb(177, 34, 34), rgb(34, 18, 18)) border-box;
  color: rgba(250, 248, 248, 0.665);
}

@media (width>=500px) {
  .manAvatar img {
    width: fit-content;
  }
}
@media (width<500px) {
  .manAvatar img {
    width: 90%;
  }
}

.div-icon:hover {
  transform: scale(1.02);
  color: aliceblue;
}
/*  ========================== SingleMovieView component  ================== */

.SingleMovieImage {
  max-height: 22rem;
  max-width: 90%;
  border-radius: 6%;
  border: 1.4px solid #413939;
}

.movieTitle {
  margin-bottom: 2rem;
  color: rgba(250, 248, 248, 0.972);
  text-shadow: 2px 1px #bbb7b761;
  letter-spacing: 0.5rem;
}

.flexcontainerDescriptionAndImage {
  display: flex;
  flex-direction: row;
}

.uno {
  margin-top: 2rem;
  display: inline-block;
  color: rgba(250, 248, 248, 0.961);
  max-width: 60%;
}

.dos {
  min-width: 40%;
}
@media (width<=560px) {
  .flexcontainerDescriptionAndImage {
    flex-direction: column;
    align-items: center;
  }
}
/* ================  error ================= */

.error {
  text-align: center;
  margin-top: 10rem;
  color: white;
  font-size: xx-large;
  font-weight: 500;
}

/*==================   Animista framework     ==================*/

.flip-scale-2-hor-top {
  -webkit-animation: flip-scale-2-hor-top linear alternate-reverse both;
  animation: flip-scale-2-hor-top 0.9s linear alternate-reverse both;
}
@-webkit-keyframes flip-scale-2-hor-top {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  50% {
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(1);
    transform: translateY(-50%) rotateX(-90deg) scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
    transform: translateY(-100%) rotateX(-180deg) scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
@keyframes flip-scale-2-hor-top {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  50% {
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(1.3);
    transform: translateY(-50%) rotateX(-90deg) scale(1.3);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
    transform: translateY(-100%) rotateX(-180deg) scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
