body {
  /* background-image: url(/background\ image\ netflix.jpg); */
  background-image: url("/background image netflix.jpg");

  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif; /* Fuente predeterminada para el texto del cuerpo */
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/background image netflix.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Aplica el efecto de desenfoque al fondo */
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
}

/* ==========================      font family from google font      =============================  */
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 250;
  font-style: normal;
}

/* ===========================        searcher          ===============================  */

.searcher {
  position: relative;
  z-index: 2; /* Asegura que Outlet esté por encima de HomeUp */
  padding-top: 30px;
}

.search {
  height: 3rem;
  width: 21rem;
  border: 2px rgb(211, 208, 208) double;
}

/* ===========================        star         ===============================  */

.star {
  text-align: center;
}
.starComponent {
  margin-top: 6rem;
}

/* ===========================       movie component         ===============================  */

.imageOfMovieComponent {
  border-radius: 8%;
}

@media (max-width: 670px) {
  .cebolla img {
    max-width: 80%;
  }
}
.cebolla {
  justify-content: center;
}

.imageOfMovieComponent:hover {
  border: #f7d9d9 2px solid;
}

.increasedImage {
  transition: transform 0.4s ease-in-out;
}

.increasedImage:hover {
  transform: scale(1.1);
}

.aloha {
  z-index: 4;
}

.text {
  background-color: rgba(0, 0, 0, 0); /* Fondo negro con transparencia */
}

.textColor {
  color: rgb(253, 253, 253);
}

.starText {
  color: rgb(210, 208, 193);
}

/* //====================        Navbar         ========================// */

.inactiveNavbarButton {
  color: rgb(253, 47, 47);
  font-weight: 300 !important;
}
.hover :hover {
  text-decoration: underline;
  color: rgb(241, 236, 236) !important;
  transform: scale(1.02);
}
.navbar-link {
  font-size: 1rem; /* Ajusta este valor según el tamaño deseado */
  font-weight: 200 !important;
}

/* //===============                presentation sentence                 ========================// */

.presentationSentence {
  font-weight: 200;
  color: #f1ecec;
  font-stretch: expanded;
  filter: drop-shadow(0px 0px 23px rgb(194, 39, 39));
  position: relative;
  animation: moveAndGlow 3s infinite alternate;
}

@keyframes moveAndGlow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* //=========================               Presentation             ======================================// */

.presentation {
  margin-bottom: 17rem;
}

.bordered-text {
  font-weight: bold;
  text-shadow: -1px -1px 0 #0e0c0c, 1px -1px 0 #332c2c, -1px 1px 0 #080404,
    1px 1px 0 #110808;
}

/*  ==========================             About component                              ================== */

.paragraphAbout {
  line-height: 2.1;
  font-weight: 300; /* Añade esta línea para reducir el grosor */
  
}

.AboutSubDiv1 .paragraphAbout p {
  line-height: 2.1;
  font-weight: 300 !important;
  font-family: Arial, sans-serif !important; /* Cambia la fuente si es necesario */
}

.bold-text {
  padding: 4px;
  letter-spacing: 1.8px;
  color: #ffffff;
}

.About-AvatarSubDiv {
  position: relative;
  display: inline-block;
}
.manAvatar {
  margin-top: 4px;
  filter: drop-shadow(-30px 0 75px rgb(107, 5, 5)) /*  new  */;
  opacity: 90%;
  max-width: 100%;
  height: 20rem;
}

.AboutSubDiv1 {
  color: rgb(250, 248, 248);
}
.AboutSubDiv2 {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.homeButton {
  width: 3rem;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 9%;

  border-radius: 5px rgba(250, 248, 248, 0.665);
  border: 2px rgb(34, 18, 18) solid;
  background: linear-gradient(rgb(95, 30, 30), rgb(34, 18, 18)) padding-box,
    linear-gradient(rgb(177, 34, 34), rgb(34, 18, 18)) border-box;
  color: rgb(253, 250, 250);
}

@media (width>=500px) {
  .manAvatar img {
    width: fit-content;
  }
}
@media (width<500px) {
  .manAvatar img {
    width: 90%;
  }
}

.div-icon {
  transition: transform 0.6s ease, color 0.3s ease;
}

.div-icon:hover {
  transform: scale(1.2);
  color: rgb(238, 91, 91);
}
/*  ========================== SingleMovieView component  ================== */

.SingleMovieImage {
  max-height: 22rem;
  max-width: 90%;
  border-radius: 6%;
  border: 1.4px solid #413939;
}

.movieTitle {
  margin-bottom: 2rem;
  color: rgba(250, 248, 248, 0.972);
  text-shadow: 2px 1px #bbb7b761;
  letter-spacing: 0.5rem;
}

.flexcontainerDescriptionAndImage {
  display: flex;
  flex-direction: row;
}

.uno {
  margin-top: 2rem;
  display: inline-block;
  color: rgba(250, 248, 248, 0.961);
  max-width: 40%;
  font-size: smaller;
}

.dos {
  min-width: 40%;
}
@media (width<=560px) {
  .flexcontainerDescriptionAndImage {
    flex-direction: column;
    align-items: center;
  }
}
/* ================  error ================= */

.error {
  text-align: center;
  margin-top: 10rem;
  color: white;
  font-size: xx-large;
  font-weight: 500;
}

/*==================   Animista framework     ==================*/

.flip-scale-2-hor-top {
  -webkit-animation: flip-scale-2-hor-top linear alternate-reverse both;
  animation: flip-scale-2-hor-top 0.9s linear alternate-reverse both;
}
@-webkit-keyframes flip-scale-2-hor-top {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  50% {
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(1);
    transform: translateY(-50%) rotateX(-90deg) scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
    transform: translateY(-100%) rotateX(-180deg) scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
@keyframes flip-scale-2-hor-top {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  50% {
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(1.3);
    transform: translateY(-50%) rotateX(-90deg) scale(1.3);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
    transform: translateY(-100%) rotateX(-180deg) scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

.presentation-container {
  position: relative;
  margin-top: 0; /* Ajusta este valor según sea necesario */
}

.presentation-video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: "98vh";
  object-fit: cover;
  opacity: 0.2;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

.modalBackgroundcolor {
  background-color: #fffffff1;
}

.tech-carousel .carousel-control-prev,
.tech-carousel .carousel-control-next {
  width: 1%;
}

.tech-carousel .carousel-inner {
  padding: 1rem 0;
}

.tech-slider-container {
  overflow: hidden;
  width: 100%;
  background-color: transparent; /* Ajusta según tu diseño */
}

.tech-slider {
  display: flex;
  animation: slide 60s linear infinite;
}

.tech-slide {
  flex: 0 0 auto;
  width: 120px; /* Ajusta según el tamaño que desees */
  text-align: center;
  padding: 20px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Para hacer que el desplazamiento sea más suave */
.tech-slider:hover {
  animation-play-state: paused;
}
